<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1 m-l-20">Check MOT History</span>
</nav>
<div class="row m-t-20">
  <!-- MOT History Form -->
  <div class="col-12">
    <div class="row">
      <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-3 margin-auto text-align-left">
        <h3>What is the vehicle's registration number?</h3>
        <div>
          <label for="registrationInput">Registration number (number plate)</label>
          <br>
          <label class="light-gray" for="registrationInput">For Example, XX10ABC</label>
          <div class="input-group mb-3">
            <input [(ngModel)]="registrationNumber" (keyup.enter)="getCarMOT(registrationNumber)" id="registrationInput"
              type="text" class="form-control" aria-label="Enter Registration Number" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button (click)="getCarMOT(registrationNumber)" class="btn btn-success" type="button">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MOT History Results -->
  <div *ngIf="carDetails" class="col-12 m-t-30">
    <div class="row">
      <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-3 margin-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">{{carDetails.make}} {{carDetails.model}}, {{displayedRegistration}}
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Colour:</b> <br> {{carDetails.primaryColour}}</li>
            <li class="list-group-item"><b>Expiry Date:</b> <br> {{MOThistory.expiryDate | date:
              'dd/MM/yyyy'}}
            </li>
            <li class="list-group-item"><b>Milage at Last MOT:</b> <br> {{MOThistory.odometerValue}}
              miles
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
